.navbar{
	border-top: 1px solid red;
	border-bottom: 1px solid red;
    
}
.nav-link{
	color: black;
	font-size: 1.0em;

}
.btn-outline-success{
	color: black;
	border-color: black;
}
.bg-c{
	background-color: white;
}
.logo{
	width: 40px;
	height:40px;
}

}
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
   
   }
 header{
 	height: 100vh;
 	width: 100%;
 	background-image: url("bd.jpg");
 	background-size: cover;
 	background-repeat: no-repeat;
 	
 }
 .red{
 	color: #832727;
 }
 .redh{
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: red;
 }
  .heading{
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
  text-align: center;
  font-size: 80px;
  margin-top: 200px;

}
.cent{
	text-align: center;
	margin: auto;
	display: block;
	margin-top: 100px;
 }
 .transparent{
 	background: rgba(0,0,0,.7);
 }
 .abt{
 	font-size: 20px;
 	border: 1px solid #832727;
 	-webkit-text-fill-color: #832727;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
 }
 .sec-1{
 	width: 100%;
 	height: 100vh;
 }
