#f1_container {
  position: relative;
  margin: 10px auto;
  width: auto;
  height: 281px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .30s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}
.navbar{
	border-bottom: 1px solid #0083ff;
    
}
.nav-link{
	color: black;
	font-size: 1.0em;

}
.btn-outline-success{
	color: black;
	border-color: black;
}
.bg-c{
	background-color: white;
}
.logo{
	width: 40px;
	height:40px;
}

}
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
   
   }
 header{
 	height: 100vh;
 	width: 100%;
 	background-image: url("bd.jpg");
 	background-size: cover;
 	background-repeat: no-repeat;
 	border-bottom: 1px solid #0083ff;
 	
 }
 .white{
 	-webkit-text-fill-color: rgba(0,0,0,0);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
 }
 .big{
 	font-size: 80px;
 	margin-top: 150px;
 }
 .small{
 	font-size: 40px;
 }

 .red{
 	color: #0083ff;
 }
 .blueh{
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #0083ff;
 }
  .heading{
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #0083ff;
  font-size: 30px;
  }

 .transparent{
 	background: rgba(0,0,0,.7);
 }
 .abt{
 	
 	text-align: center;
 	margin: 30px auto;
 	display: block;
 	font-size: 20px;
 	border: 1px solid #0083ff;
 	-webkit-text-fill-color: #0083ff;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
 }
 .sec-1{
 	width: 100%;
 	height: auto;
 	background-color: #D9E2EA;
 	padding: 30px 30px 20px 30px;
 	color: black;
 }
 p{
   font-size: 20px;
 }
 .sec-2{
 	width: 100%;
 	height: auto;
 	padding: 50px;
 	border-bottom: 1px solid #0083ff;


 }
 .box{
 	border: 1px solid;
 	border-radius: 3px;
    margin: 30px;
    background-color: white;
 }
 .imgbox{
 	width:100%;
 	height: 281px;

 }
 .sec-3{
 	width: 100%;
 	height: auto;
 	background-color: #D9E2EA;
 	border-bottom: 1px solid #0083ff;
 	padding: 30px 20px 30px 20px;

 }


 @media (max-width: 575px){
 	.big{
 		font-size: 40px;
 		margin-top: 30px;
 	}
 	.small{
 		font-size: 30px;
 	}
 	.abt{
 		margin: 30px auto;
 	}
 }
footer{
	background-color: #323639;
	color: white;
	wodth: 100%;
}
.bottom{
	background-color: black;
	color: white;
}